################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/solgirard.com/FileContentIndex
/.vs/solgirard.com/FileContentIndex
